
# This should be provided by user.
PROJECT_ID=

# this is very useful for Gemini API invocations. Can also be created with a bunch of gcloud scripts.
GEMINI_API_KEY=

# This is usually good enough for most people, 
# but feel free to localize to something close to the user.
GOOGLE_CLOUD_REGION="us-central1"

# Optional, in case a project is not given a BAID needs to be given
BILLING_ACCOUNT_ID=